html {
  height: 100%;
  background-color: #f18f01; }

body {
  width: 100%;
  height: 100%; }

@font-face {
  font-family: "DIN-Regular";
  src: url("DIN-Regular.otf") format("otf"); }
@font-face {
  font-family: "DINPro-Light";
  src: url("DINPro-Light.otf") format("otf"); }
@font-face {
  font-family: "DINPro-Black";
  src: url("DINPro-Black.otf") format("otf"); }
body {
  font-family: "DIN-Regular", arial, sans-serif;
  font-weight: 400; }

.light-weight {
  font-family: "DINPro-Light", arial, sans-serif;
  font-weight: 300; }

.black-weight {
  font-family: "DINPro-Black", arial, sans-serif;
  font-weight: 800; }

.inline {
  display: inline-block; }

.header-footer-bar {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #f18f01; }
  .header-footer-bar#header-bar {
    height: 14px;
    top: 0;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.14); }
  .header-footer-bar#footer-bar {
    height: 28px;
    bottom: 0; }

div#fixed-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("assets/orange-skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1; }

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.sign-up-box {
  width: 400px;
  text-align: center; }
  .sign-up-box img {
    height: 76px; }
  .sign-up-box h1 {
    font-size: 70px;
    margin-top: 12px;
    margin-bottom: 12px; }
    .sign-up-box h1 .light-weight {
      letter-spacing: -6px;
      margin-right: 6px; }
  .sign-up-box p {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 24px; }
  .sign-up-box input {
    vertical-align: middle;
    width: 232px;
    height: 28px;
    border: 1px solid #BCBDBE;
    padding-left: 12px; }
    .sign-up-box input::-webkit-input-placeholder {
      color: #6B6C6D;
      font-size: 16px; }
    .sign-up-box input:-moz-placeholder {
      color: #6B6C6D;
      font-size: 16px; }
    .sign-up-box input::-moz-placeholder {
      color: #6B6C6D;
      font-size: 16px; }
    .sign-up-box input:-ms-input-placeholder {
      color: #6B6C6D;
      font-size: 16px; }
  .sign-up-box button {
    vertical-align: middle;
    width: 134px;
    height: 32px;
    background-color: #f18f01;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px; }

.section {
  min-height: 490px;
  height: 100%;
  color: #ffffff;
  margin-top: 14px;
  text-align: center;
  margin: 0 auto;
  position: relative; }
  .section:before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .section:after {
    position: absolute;
    content: " ";
    background-image: url("assets/divider.png");
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    top: calc(100% - 25px);
    left: 0px;
    z-index: 1; }
  .section .inner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto; }
  .section.blue {
    background-color: #006e90;
    background-size: auto; }
  .section h2 {
    font-size: 30px;
    text-transform: uppercase; }
  .section p {
    max-width: 560px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 25px; }
  .section.for h2 {
    text-transform: none; }
  .section.for li {
    margin-top: 20px;
    font-size: 18px;
    font-family: "DINPro-Light", arial, sans-serif;
    font-weight: 300;
    line-height: 25px; }
  .section.for ul {
    max-width: 340px; }
  .section.for .inline {
    margin-left: 64px; }
  .section.for:after {
    background-image: none; }

/*# sourceMappingURL=styles.css.map */
